.mainpadding {
    padding: 30px 30px ;
}
.mainlogoclas {
    margin-right: 50px;
}
.newsdistance {
    margin-right: 30px;
    font-size: 22px;
    
}.distancee {
    margin-right: 18px;
    font-size: 22px;
    color: #EE4036;
}
.contactinfo {
    font-size: 22px;
}